body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

.navbar {
  background: #0d6efd;
  padding: 20px;
  color: white;
  text-align: center;
}

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

input,
select {
  padding: 10px;
  font-size: 16px;
}

.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 28px;
}